@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap");
.empty-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.4;
  grid-area: 1 / -1;
  filter: grayscale(50%); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100vh;
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(#E1DED3 50%, #DDD0AF) !important;
  background-repeat: no-repeat; }

button, li {
  font-family: "IM Fell English", serif;
  font-weight: 400;
  font-style: normal; }

a {
  text-decoration: none; }
  a:hover, a:active, a:focus, a:visited {
    text-decoration: none; }

.header {
  padding: 20px;
  text-align: center;
  position: relative;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); }
  .header:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: -40px;
    background: #888870;
    opacity: .4;
    z-index: -1;
    clip-path: polygon(0 0, 10% 30%, 20% 0, 30% 30%, 40% 0, 50% 30%, 60% 0, 70% 30%, 80% 0, 90% 30%, 100% 0);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); }
  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em 0 2em; }
    .header__content__title {
      color: green;
      font-weight: bold;
      font-size: 3em; }
    .header__content__nav {
      display: flex;
      gap: 2em; }
      .header__content__nav__item {
        list-style: none; }
        .header__content__nav__item__link {
          color: #000000;
          font-weight: bold;
          font-size: 1.5em; }
          .header__content__nav__item__link:hover {
            color: green; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  height: 100%;
  padding: 2em; }
  main section {
    background: rgba(0, 0, 0, 0.2); }
  main .herbal_list__actions__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 2em; }
    main .herbal_list__actions__content__button {
      border: none;
      border-radius: 5px;
      width: 16em;
      padding: .5em 1em;
      cursor: pointer; }
      main .herbal_list__actions__content__button__primary {
        background-color: #276414;
        color: #ffffff; }
      main .herbal_list__actions__content__button__cancel {
        background-color: #a12525;
        color: #ffffff; }
    main .herbal_list__actions__content__search__form {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 1em; }
      main .herbal_list__actions__content__search__form__input, main .herbal_list__actions__content__search__form__textarea, main .herbal_list__actions__content__search__form__select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 10px 0 0 0;
        background-color: transparent;
        color: #252b26;
        border-bottom: solid 1px #252b26; }
        main .herbal_list__actions__content__search__form__input:focus, main .herbal_list__actions__content__search__form__input:valid, main .herbal_list__actions__content__search__form__textarea:focus, main .herbal_list__actions__content__search__form__textarea:valid, main .herbal_list__actions__content__search__form__select:focus, main .herbal_list__actions__content__search__form__select:valid {
          border-bottom: solid 1px #1F8C04; }
  main .herbal_list__actions__select_tab_element {
    display: flex;
    justify-content: space-around;
    padding: 1em; }
    main .herbal_list__actions__select_tab_element__tab {
      border-radius: 10px;
      padding: .5em 1em;
      color: #ffffff;
      border: none;
      cursor: pointer; }
      main .herbal_list__actions__select_tab_element__tab__fire {
        background-color: #ea2323; }
        main .herbal_list__actions__select_tab_element__tab__fire__active {
          background-color: #9b1717; }
      main .herbal_list__actions__select_tab_element__tab__water {
        background-color: #246bc9; }
        main .herbal_list__actions__select_tab_element__tab__water__active {
          background-color: #154079; }
      main .herbal_list__actions__select_tab_element__tab__air {
        background-color: #38c6ea; }
        main .herbal_list__actions__select_tab_element__tab__air__active {
          background-color: #22798f; }
      main .herbal_list__actions__select_tab_element__tab__earth {
        background-color: #4ac425; }
        main .herbal_list__actions__select_tab_element__tab__earth__active {
          background-color: #276414; }
      main .herbal_list__actions__select_tab_element__tab__aceite {
        background-color: #aa903c; }
        main .herbal_list__actions__select_tab_element__tab__aceite__active {
          background-color: #816d2a; }
      main .herbal_list__actions__select_tab_element__tab__bano {
        background-color: #3494ac; }
        main .herbal_list__actions__select_tab_element__tab__bano__active {
          background-color: #154079; }
      main .herbal_list__actions__select_tab_element__tab__locion {
        background-color: #b6721a; }
        main .herbal_list__actions__select_tab_element__tab__locion__active {
          background-color: #835314; }
      main .herbal_list__actions__select_tab_element__tab__pomada {
        background-color: #a08676; }
        main .herbal_list__actions__select_tab_element__tab__pomada__active {
          background-color: #725f53; }
  main .herbal_list__cards {
    display: grid;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    grid-template-columns: repeat(auto-fit, 167px);
    gap: 1em;
    padding: 1em; }
    main .herbal_list__cards__card {
      display: flex;
      flex-flow: column;
      cursor: pointer; }
      main .herbal_list__cards__card__image {
        width: 100%;
        object-fit: fill; }
      main .herbal_list__cards__card__label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3em;
        background-color: #e5dac1; }
        main .herbal_list__cards__card__label__icon {
          width: 20%; }
        main .herbal_list__cards__card__label__title {
          font-size: 1rem;
          font-weight: bold;
          flex: 2;
          text-align: center; }
  main .herbal_info {
    padding: 2em; }
    main .herbal_info__general {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em; }
      main .herbal_info__general__image, main .herbal_info__general__stats {
        width: 100%; }
      main .herbal_info__general__stats__element {
        display: flex;
        align-items: center;
        margin: 1em 0; }
        main .herbal_info__general__stats__element__icon {
          width: 20%;
          margin-right: 1em; }
        main .herbal_info__general__stats__element__name {
          font-size: 3rem; }
      main .herbal_info__general__stats__benefits_list {
        margin-bottom: 1em; }
        main .herbal_info__general__stats__benefits_list__title {
          font-weight: bold; }
        main .herbal_info__general__stats__benefits_list__list {
          margin-left: 2em; }
    main .herbal_info__description__paragraph {
      margin: 1em 0; }
    main .herbal_info__description__alchemist_advice {
      margin: 2em 0;
      font-weight: bold;
      font-size: 1.2rem; }
  main .herbal_create__new_recipe {
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 2em;
    column-gap: 1em; }
    main .herbal_create__new_recipe__recipe_type__form, main .herbal_create__new_recipe__recipe_name__form, main .herbal_create__new_recipe__recipe_description__form {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 1em; }
      main .herbal_create__new_recipe__recipe_type__form__input, main .herbal_create__new_recipe__recipe_type__form__textarea, main .herbal_create__new_recipe__recipe_type__form__select, main .herbal_create__new_recipe__recipe_name__form__input, main .herbal_create__new_recipe__recipe_name__form__textarea, main .herbal_create__new_recipe__recipe_name__form__select, main .herbal_create__new_recipe__recipe_description__form__input, main .herbal_create__new_recipe__recipe_description__form__textarea, main .herbal_create__new_recipe__recipe_description__form__select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 10px 0 0 0;
        background-color: transparent;
        color: #252b26;
        border-bottom: solid 1px #252b26; }
        main .herbal_create__new_recipe__recipe_type__form__input:focus, main .herbal_create__new_recipe__recipe_type__form__input:valid, main .herbal_create__new_recipe__recipe_type__form__textarea:focus, main .herbal_create__new_recipe__recipe_type__form__textarea:valid, main .herbal_create__new_recipe__recipe_type__form__select:focus, main .herbal_create__new_recipe__recipe_type__form__select:valid, main .herbal_create__new_recipe__recipe_name__form__input:focus, main .herbal_create__new_recipe__recipe_name__form__input:valid, main .herbal_create__new_recipe__recipe_name__form__textarea:focus, main .herbal_create__new_recipe__recipe_name__form__textarea:valid, main .herbal_create__new_recipe__recipe_name__form__select:focus, main .herbal_create__new_recipe__recipe_name__form__select:valid, main .herbal_create__new_recipe__recipe_description__form__input:focus, main .herbal_create__new_recipe__recipe_description__form__input:valid, main .herbal_create__new_recipe__recipe_description__form__textarea:focus, main .herbal_create__new_recipe__recipe_description__form__textarea:valid, main .herbal_create__new_recipe__recipe_description__form__select:focus, main .herbal_create__new_recipe__recipe_description__form__select:valid {
          border-bottom: solid 1px #1F8C04; }
    main .herbal_create__new_recipe__recipe_type__form {
      grid-area: 1 / 1 / 2 / 2; }
    main .herbal_create__new_recipe__recipe_name__form {
      grid-area: 1 / 2 / 2 / 5; }
    main .herbal_create__new_recipe__recipe_description__form {
      grid-area: 2 / 1 / 3 / 6;
      height: 150px; }
    main .herbal_create__new_recipe__recipe_ingredients_instructions {
      font-size: 1.2rem;
      grid-area: 3 / 1 / 4 / 5;
      font-weight: bold;
      opacity: .6; }
    main .herbal_create__new_recipe__recipe_ingredients {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: max-content;
      gap: 1em;
      min-height: 30em;
      padding: 1em;
      -webkit-box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      -moz-box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      grid-area: 4 / 1 / 5 / 3; }
    main .herbal_create__new_recipe__recipe_benefits {
      height: 30em;
      min-height: 30em;
      padding: 1em;
      -webkit-box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      -moz-box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      box-shadow: inset 0px 0px 21px 0px rgba(96, 77, 40, 0.5);
      grid-area: 4 / 3 / 5 / 5; }
      main .herbal_create__new_recipe__recipe_benefits__benefits_list {
        margin-bottom: 1em; }
        main .herbal_create__new_recipe__recipe_benefits__benefits_list__title {
          font-weight: bold; }
        main .herbal_create__new_recipe__recipe_benefits__benefits_list__list {
          margin-left: 2em; }
    main .herbal_create__new_recipe__recipe_buttons {
      grid-area: 5 / 3 / 6 / 5;
      display: flex;
      justify-content: flex-end;
      gap: 1em; }
      main .herbal_create__new_recipe__recipe_buttons__button {
        border: none;
        border-radius: 5px;
        width: 16em;
        padding: .5em 1em;
        cursor: pointer; }
        main .herbal_create__new_recipe__recipe_buttons__button__primary {
          background-color: #276414;
          color: #ffffff; }
        main .herbal_create__new_recipe__recipe_buttons__button__cancel {
          background-color: #a12525;
          color: #ffffff; }

.gu-mirror__card {
  display: flex;
  flex-flow: column;
  cursor: pointer; }
  .gu-mirror__card__image {
    width: 100%;
    object-fit: fill; }
  .gu-mirror__card__label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    background-color: #e5dac1; }
    .gu-mirror__card__label__icon {
      width: 20%; }
    .gu-mirror__card__label__title {
      font-size: 1rem;
      font-weight: bold;
      flex: 2;
      text-align: center; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  height: 100%;
  padding: 2em; }
  main section {
    background: rgba(0, 0, 0, 0.2); }
  main .recipe_list__actions__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 2em; }
    main .recipe_list__actions__content__button {
      border: none;
      border-radius: 5px;
      width: 16em;
      padding: .5em 1em;
      cursor: pointer; }
      main .recipe_list__actions__content__button__primary {
        background-color: #276414;
        color: #ffffff; }
      main .recipe_list__actions__content__button__cancel {
        background-color: #a12525;
        color: #ffffff; }
    main .recipe_list__actions__content__search__form {
      width: 100%;
      height: 40px;
      display: flex;
      gap: 1em; }
      main .recipe_list__actions__content__search__form__input, main .recipe_list__actions__content__search__form__textarea, main .recipe_list__actions__content__search__form__select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 10px 0 0 0;
        background-color: transparent;
        color: #252b26;
        border-bottom: solid 1px #252b26; }
        main .recipe_list__actions__content__search__form__input:focus, main .recipe_list__actions__content__search__form__input:valid, main .recipe_list__actions__content__search__form__textarea:focus, main .recipe_list__actions__content__search__form__textarea:valid, main .recipe_list__actions__content__search__form__select:focus, main .recipe_list__actions__content__search__form__select:valid {
          border-bottom: solid 1px #1F8C04; }
  main .recipe_list__actions__select_tab_element {
    display: flex;
    justify-content: space-around;
    padding: 1em; }
    main .recipe_list__actions__select_tab_element__tab {
      border-radius: 10px;
      padding: .5em 1em;
      color: #ffffff;
      border: none;
      cursor: pointer; }
      main .recipe_list__actions__select_tab_element__tab__fire {
        background-color: #ea2323; }
        main .recipe_list__actions__select_tab_element__tab__fire__active {
          background-color: #9b1717; }
      main .recipe_list__actions__select_tab_element__tab__water {
        background-color: #246bc9; }
        main .recipe_list__actions__select_tab_element__tab__water__active {
          background-color: #154079; }
      main .recipe_list__actions__select_tab_element__tab__air {
        background-color: #38c6ea; }
        main .recipe_list__actions__select_tab_element__tab__air__active {
          background-color: #22798f; }
      main .recipe_list__actions__select_tab_element__tab__earth {
        background-color: #4ac425; }
        main .recipe_list__actions__select_tab_element__tab__earth__active {
          background-color: #276414; }
      main .recipe_list__actions__select_tab_element__tab__aceite {
        background-color: #aa903c; }
        main .recipe_list__actions__select_tab_element__tab__aceite__active {
          background-color: #816d2a; }
      main .recipe_list__actions__select_tab_element__tab__bano {
        background-color: #3494ac; }
        main .recipe_list__actions__select_tab_element__tab__bano__active {
          background-color: #154079; }
      main .recipe_list__actions__select_tab_element__tab__locion {
        background-color: #b6721a; }
        main .recipe_list__actions__select_tab_element__tab__locion__active {
          background-color: #835314; }
      main .recipe_list__actions__select_tab_element__tab__pomada {
        background-color: #a08676; }
        main .recipe_list__actions__select_tab_element__tab__pomada__active {
          background-color: #725f53; }
  main .recipe_list__cards {
    display: grid;
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    grid-template-columns: repeat(auto-fit, 167px);
    gap: 1em;
    padding: 1em; }
    main .recipe_list__cards__card {
      display: flex;
      flex-flow: column;
      cursor: pointer; }
      main .recipe_list__cards__card__image {
        width: 100%;
        object-fit: fill; }
      main .recipe_list__cards__card__label {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .3em;
        background-color: #e5dac1; }
        main .recipe_list__cards__card__label__icon {
          width: 20%; }
        main .recipe_list__cards__card__label__title {
          font-size: 1rem;
          font-weight: bold;
          flex: 2;
          text-align: center; }
  main .recipe_info {
    padding: 2em; }
    main .recipe_info__general {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em; }
      main .recipe_info__general__image, main .recipe_info__general__stats {
        width: 100%; }
      main .recipe_info__general__stats__element {
        display: flex;
        align-items: center;
        margin: 1em 0; }
        main .recipe_info__general__stats__element__icon {
          width: 20%;
          margin-right: 1em; }
        main .recipe_info__general__stats__element__name {
          font-size: 3rem; }
      main .recipe_info__general__stats__benefits_list {
        margin-bottom: 1em; }
        main .recipe_info__general__stats__benefits_list__title {
          font-weight: bold; }
        main .recipe_info__general__stats__benefits_list__list {
          margin-left: 2em; }
    main .recipe_info__description__paragraph {
      margin: 1em 0; }
    main .recipe_info__description__alchemist_advice {
      margin: 2em 0;
      font-weight: bold;
      font-size: 1.2rem; }
    main .recipe_info__buttons {
      display: flex;
      justify-content: flex-end;
      gap: 2em;
      padding: 1em; }
      main .recipe_info__buttons__button {
        border: none;
        border-radius: 5px;
        width: 16em;
        padding: .5em 1em;
        cursor: pointer; }
        main .recipe_info__buttons__button__primary {
          background-color: #276414;
          color: #ffffff; }
        main .recipe_info__buttons__button__cancel {
          background-color: #a12525;
          color: #ffffff; }

.gu-mirror__card {
  display: flex;
  flex-flow: column;
  cursor: pointer; }
  .gu-mirror__card__image {
    width: 100%;
    object-fit: fill; }
  .gu-mirror__card__label {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .3em;
    background-color: #e5dac1; }
    .gu-mirror__card__label__icon {
      width: 20%; }
    .gu-mirror__card__label__title {
      font-size: 1rem;
      font-weight: bold;
      flex: 2;
      text-align: center; }
