button, li {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
    }
}