<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Herbolarium</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <h1 class="header__content__title">Herbolarium</h1>
            <nav>
                <ul class="header__content__nav">
                    <li class="header__content__nav__item"><a href="../index.html" class="header__content__nav__item__link">Inicio</a></li>
                    <li class="header__content__nav__item"><a href="#" class="header__content__nav__item__link">Grimorio</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="herbal_list" id="herbal_list">
        </section>
        <section class="herbal_info" id="herbal_info">
        </section>
    </main>
    <script src="./js/main.js"></script>
</body>
</html>