<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Herbolarium</title>
</head>
<body>
    <header class="header">
        <div class="header__content">
            <h1 class="header__content__title">Herbolarium</h1>
            <nav>
                <ul class="header__content__nav">
                    <li class="header__content__nav__item"><a href="../index.html" class="header__content__nav__item__link">Inicio</a></li>
                    <li class="header__content__nav__item"><a href="#" class="header__content__nav__item__link">Grimorio</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="recipe_list" id="recipe_list">
            <div class="recipe_list__actions">
                <div class="recipe_list__actions__content">
                    <div class="recipe_list__actions__content__search__form">
                        <input type="text" id="recipe_search" class="recipe_list__actions__content__search__form__input" name="recipe_search" placeholder="Busca por nombre o beneficio"/>
                    </div>
                </div>
                <div class="recipe_list__actions__select_tab_element">
                    <button class="recipe_list__actions__select_tab_element__tab recipe_list__actions__select_tab_element__tab__aceite" id="aceite_type">Aceite</button>
                    <button class="recipe_list__actions__select_tab_element__tab recipe_list__actions__select_tab_element__tab__bano" id="bano_type">Baño</button>
                    <button class="recipe_list__actions__select_tab_element__tab recipe_list__actions__select_tab_element__tab__locion" id="locion_type">Loción</button>
                    <button class="recipe_list__actions__select_tab_element__tab recipe_list__actions__select_tab_element__tab__pomada" id="pomada_type">Pomada</button>
                </div>
            </div>
            <div class="recipe_list__cards" id="recipe_cards"></div>
        </section>
        <section class="recipe_info" id="recipe_info">
        </section>
    </main>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="../js/grimorie.js"></script>
</body>
</html>