// Variables
// Standard colors
$color-white: #ffffff;
$color-black: #000000;

// Background colors
$bg-base-first: #E1DED3;
$bg-base-second: #DDD0AF;

// Tabs colors
$color-fire: #ea2323;
$color-water: #246bc9;
$color-earth: #4ac425;
$color-air: #38c6ea;
$color-fire-active: #9b1717;
$color-water-active: #154079;
$color-earth-active: #276414;
$color-air-active: #22798f;
$color-oil: #aa903c;
$color-bath: #3494ac;
$color-ointment: #a08676;
$color-lotion: #b6721a;
$color-oil-active: #816d2a;
$color-bath-active: #154079;
$color-ointment-active: #725f53;
$color-lotion-active: #835314;

// Background card color
$bg-card: #e5dac1;

// Background button color
$bg-button: #276414;
$bg-button-cancel: #a12525;

// Forms colors
$color-form-base: #252b26;
$color-form-event: #1F8C04;
