// Variables
// Standard colors
$color-white: #ffffff;
$color-black: #000000;

// Background colors
$bg-base-first: #E1DED3;
$bg-base-second: #DDD0AF;

// Tabs colors
$color-fire: #ea2323;
$color-water: #246bc9;
$color-earth: #4ac425;
$color-air: #38c6ea;
$color-fire-active: #9b1717;
$color-water-active: #154079;
$color-earth-active: #276414;
$color-air-active: #22798f;

// Background card color
$bg-card: #e5dac1;

// Background button color
$bg-button: #276414;

// Forms colors
$color-form-base: #B1E3BC;
$color-form-event: #1F8C04;
$color-form-placeholder: #DDDDDD;
