&__form {
    width: 100%;
    height: 40px;
    display: flex;
    gap: 1em;
    
    &__input, &__textarea, &__select {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        padding: 10px 0 0 0;
        background-color: transparent;
        color: $color-form-base;
        border-bottom: solid 1px $color-form-base;
    
        &:focus , &:valid  {
            border-bottom: solid 1px $color-form-event;

        }
    
    }
}